#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.thumbnail {
  display: inline-block;
  margin: 8px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  max-width: 100%;

  &:hover {
    opacity: .8;
  }
}

h1 {
  margin-bottom: 0.25em;
}

p {
  margin-top: 0.25em;
  margin-bottom: 2em;
}

.thumbnail-focus {
  outline: 4px solid #007bffaf;
}

.lightbox-thumbnail {
  display: block;
  pointer-events: none;
}

.lightbox-element {
  object-fit: contain;
}